body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    color: white;
    font-size: 13px;
    overflow: hidden;
}

main {
    width: fit-content;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

.bottombar {
    width: 100%;
    background: rgb(70, 70, 70);
    height: 20px;
    display: flex;
    overflow: hidden;
}

button {
    background: rgb(255, 165, 0);
    border: none;
    height: 20px;
    cursor: pointer;
    margin: 0px 2px;
}

button:hover {
    background: rgb(255, 192, 74);   
}

button:active {
    background: rgb(214, 139, 0);
}

#app {
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.sidebar {
    background: rgb(70, 70, 70);
    height: 100%;
    width: 260px;
    display: flex;
    flex-direction: column;
}

.bottombar-tip {
    line-height: 20px;
    margin: 0px 5px;
    opacity: 0.5;
}

h2 {
    text-align: center;
    margin: 10px 0px;
}