body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    color: white;
    font-size: 13px;
    overflow: hidden;
}

main {
    width: fit-content;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

.bottombar {
    width: 100%;
    background: rgb(70, 70, 70);
    height: 20px;
    display: flex;
    overflow: hidden;
}

button {
    background: rgb(255, 165, 0);
    border: none;
    height: 20px;
    cursor: pointer;
    margin: 0px 2px;
}

button:hover {
    background: rgb(255, 192, 74);   
}

button:active {
    background: rgb(214, 139, 0);
}

.autoMargin {
    margin-left: auto;
}

.iconButton {
    background: transparent;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0;
    border-radius: 10px;
}

.iconButton:hover {
    background: rgba(255, 255, 255, 0.241);
    text-shadow: 0 0 2px white;
}

.iconButton:active {
    background: rgba(255, 255, 255, 0.308);
    text-shadow: 0 0 3px white;
}

#partList {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.partListItem {
    padding: 2px 5px 2px 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.171);
}

.partListItem:nth-child(even) {
    background:rgba(0, 0, 0, 0.1)
}

.partListItem:last-child {
    border-bottom-color: transparent;
}

.partListItem span {
    line-height: 20px;
}

.partListRow {
    display: flex;
    flex-direction: row;
}

#app {
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.sidebar {
    background: rgb(70, 70, 70);
    height: 100%;
    width: 260px;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.partListExpand {
    display: none;
    border: 1px dashed rgba(0, 0, 0, 0.5);
    padding: 5px 2px;
}

.propertySlider {
    width: 98%;
}

.expanded {
    display: flex;
    flex-wrap: wrap;
}

.bottombar-tip {
    line-height: 20px;
    margin: 0px 5px;
    opacity: 0.5;
}

h2 {
    text-align: center;
    margin: 10px 0px;
}